<div class="">
    <h2>
        {{games.gameTitle}}
    </h2>
    <img src="../assets/images/cardimages/{{games.coverImage}}">
    <p>
        {{games.gameDescription}}
    </p>
    <p>
        {{games.features}}
        {{games.releaseYear}}
        {{games.publisher}}
        {{games.platformId}}
        
    </p>
</div>