<h1>Games List</h1>

{{#each genre as |genre|}}
<div class="">
    <h2>
        {{games.title}}
    </h2>
    <img src="../assets/images/cardimages/{{games.coverImage}}">
    <p>
        {{games.description}}
    </p>
    <p>
        {{games.release_year}}
        {{games.publisher}}
        {{games.platform_name}}
        
    </p>
</div>
{{/each}}