<div>
    <div>
        <h2>
            Genres
        </h2>
    </div>
    {{#each genre as |genre|}}
        <div>
            <div>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                
            </div>
            
        </div>
    {{/each}}
</div>
