<div>
    <div>
        <h2>
            Genres
        </h2>
    </div>
    {{#each genre as |genre|}}
        <div>
            <div>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                <button>
                    {{genre.id}}.
                    {{genre.genre_name}}
                </button>
                
            </div>
            
        </div>
    {{/each}}
</div>

--------- alternate way ------------


<table class="table-genres">
<thead>
    <tr>
        <th>Genre Name</th>
    </tr>
</thead>

<tbody>
    {{#each genres}}
    <tr>
        <td>{{genre.genre_name}}</td>
    </tr>
    {{/each}}
</tbody>

</table>